<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645273761045-bedujv7jasq0e2nk2t0aqdt3b2busqnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645273761045-bedujv7jasq0e2nk2t0aqdt3b2busqnr</string>
	<key>API_KEY</key>
	<string>AIzaSyAHVxkIkDvHqK7GlPYqWUmSJ34uuT7Tw18</string>
	<key>GCM_SENDER_ID</key>
	<string>645273761045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qiscus.meetios</string>
	<key>PROJECT_ID</key>
	<string>qiscus-meet</string>
	<key>STORAGE_BUCKET</key>
	<string>qiscus-meet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645273761045:ios:4fdc1b2d2b2ec1c145a51c</string>
	<key>DATABASE_URL</key>
	<string>https://qiscus-meet.firebaseio.com</string>
</dict>
</plist>